<nav>
    <div id="navbarNav">
        <ul>
            <li class="nav-item">
                <a class="nav-link  {% if route_name is defined and route_name == 'home' %} active {% endif %}" href="{{ path('home') }}">Home</a>
            </li>
            {# <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'beers' %} active {% endif %}" href="{{ path('beers') }}">Beers</a>
            </li> #}
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'mentions' %} active {% endif %}" href="{{ path('mentions') }}">Mentions</a>
            </li>
            <ul>
                {% for category in categories %}
                <li>
                <a
                    href="{{ path('category', { 'id' : category.id })}}"
                >
                    {{ category.name }}
                </a>
                </li>
                {% endfor %}
            </ul>
            <ul>
                {% for country in countries %}
                <li>
                <a
                    href="{{ path('country', { 'id' : country.id })}}"
                >
                    {{ country.name }}
                </a>
                </li>
                {% endfor %}
            </ul>
        </ul>
    </div>
</nav>