{% extends 'base.html.twig' %}

{% block body %}  
<div class='wrapper'> 
    {% for beer in beers %}
    <a href="{{ path('beer', { 'id' : beer.id })}}" class="beer-minicard">
        <p class='text'> {{ beer.name }}</p>
        <img src="{{ asset('assets/images/biere.png') }}" class="beer-minicard__image"/>
        <p class='text'>{{ beer.description }}</p>
        <p class='text degree'>{{ beer.degree }}</p>
     </a>
    {% endfor %}
</div>
{% endblock %}