{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/biere.jpg') }}" />
    <p>{{ beers[0].name }}</p>

    {% for beer in beers %} 
        <a href="{{ path('beer', { 'id' : beer.id }) }}">
            {{ beer.name }}
        </a>
    {% endfor %}

{% endblock %}